[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
numpy = "*"
pillow = "*"
django-allauth = "*"
joblib = "*"
django-cors-headers = "*"
pytest = "*"
pytest-django = "*"
djangorestframework-simplejwt = "*"
channels = "*"
scikit-learn = "==1.2.2"
pandas = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
